.coluna {
    display: flex;
    flex-flow: column;
}

.linha {
    display: flex;
    flex-flow: row;
    background-color: black;
    
}
.linha2 {
    display: flex;
    flex-flow: wrap row;
    background-color: rgb(245, 0, 188);
    
}


.flexbox {
    text-align: center;
    
    display: flexbox;
    background: #6e00d4;
    padding: 50pt;
    margin: 10px;
    flex-grow: 1;
}

.flexbox2 {
    text-align: center;
    display: flexbox;
    background: #00ffc8;
    padding: 50pt;
    margin: 10px;
    flex-grow: 1;
    
}

.flexbox3 {
    text-align: center;
    display: flexbox;
    background: #1900ff;
    padding: 50pt;
    margin: 10px;
    flex-grow: 1;
}
.flexbox4 {
    text-align: center;
    display: flexbox;
    background: #1900ff;
    padding: 50pt;
    margin: 10px;
    flex-grow: 1;
    
}



