.coluna {
    display: flex;
    flex-flow: column;
}

.linha {
    display: flex;
    flex-flow: row;
}

.flexbox {
    text-align: center;
    display: flexbox;
    background: #ff0000;
    padding: 50pt;
    margin: 10px;
    flex-grow: 1;
}

.flexbox2 {
    text-align: center;
    display: flexbox;
    background: #7bff00;
    padding: 50pt;
    margin: 10px;
    flex-grow: 1;
}

.flexbox3 {
    text-align: center;
    display: flexbox;
    background: #ca0098;
    padding: 50pt;
    margin: 10px;
    flex-grow: 1;
}

.flexbox4 {
    text-align: center;
    display: flexbox;
    background: #0041ce;
    padding: 50pt;
    margin: 10px;
    flex-grow: 1;
}

.flexbox4b {
    text-align: center;
    display: flexbox;
    background: #0041ce;
    padding: 50pt;
    margin: 10px;
    flex-grow: 1;
    width: -50;
}

